body {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: rosybrown;
    flex-direction: column;
    display: flex;
}

#input {
    width: 70%;
    height: 30px;
    margin: 10%;
}

#button {
    margin: 10%;
}

.span {
    border: 1px solid black;
    width: 30%;
}

#output, #output2 {
    margin: 10%;
    position: relative;
    color: aqua;
}